node_modules/
.env
__pycache__/
Order_TS_*.csv
orders_*.csv
sessions_*.csv
member_*.csv
salepage_*.csv
relation_product_*.csv
*.parquet
bundle_recommendation.csv
recommendation.csv
horizontal_hesitation_users_shop.csv
vertical_hesitation_users_shop.csv
relation_product_RZSHERLBqjPGOUFO01RYew==.csv